<h1>New Query Segment</h1>

<%= render 'form' %>

<%= link_to 'Back', query_segments_path %>

<% provide :script_view do %>
    <script type="text/javascript">
      form.new_group();
    </script>
<% end %>
